.hr-range {
  width: 56px;
  height: 1px;
  margin: 32px auto 10px auto;
  padding: 0;
  border: 1.5px solid #41ef8b;
  background-color: #41ef8b;
}

.div-block-41 {
  display: flex;
  flex-flow: row wrap;
}

.estimate-container {
  display: flex;
  flex-flow: row wrap;
  margin: 2em auto;
  align-items: center;
  width: 80%;
}

.text-block-24 {
  flex: 1 100%;
  font-size: 0.9em;
  font-weight: bold;
  padding-top: 2em;
  text-align: center;

  @include breakpoint(1150px) {
    flex: 0 0 300px;
    margin-right: 2em;
    padding-top: 0;
    text-align: left;
  }
}

.slider-container {
  flex: 1 1 350px;
  margin: 2em auto;
  max-width: 589px;
}

.min-value {
  float: left;
  font-size: 0.7em;
  margin-bottom: 1em;
  margin-left: -10px;
}

.max-value {
  float: right;
  font-size: 0.7em;
  margin-bottom: 1em;
  margin-right: -10px;
}

#range-slider {
  clear: both;
  height: 11px;
  border-radius: 10px;
  z-index: 100;

  .ui-slider-range {
    background: #2479ff;
  }

  .ui-slider-handle {
    border: 5px solid #fff;
    background-color: #41ef8b;
    border-radius: 20px;
    width: 11px;
    height: 11px;
    box-sizing: content-box;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);

    &.ui-state-active {
      color: inherit;
    }

    &:focus {
      outline: none;
    }

    .handle-text {
      position: absolute;
      bottom: 23px;
      font-size: 0.8em;
      font-weight: bold;
      left: calc(-50% - 6px - 0.5em);
      background: white;
      padding: 0 0.5em;
    }
  }
}

.div-block-43 {
  display: flex;
  flex-flow: row wrap;
}

.estimate-cards {
  display: flex;
  max-width: 789px;
  flex-flow: row wrap;
  justify-content: center;
  flex: 1 1 50%;
  margin: auto;
}

.single-card {
  position: relative;
  display: flex;
  box-sizing: content-box;
  flex: 1 1 100%;
  min-height: 150px;
  padding-top: 1em;
  padding-bottom: 1em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #555e80;
  border-radius: 5px;
  margin: 0.5em;

  @include breakpoint(385px) {
    flex: 1 1 40%;
  }

  @include breakpoint(1255px) {
    flex: 1 1 15%;
  }
}

.single-card-content-holder {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 5px;
}

.calc-title {
  max-width: 150px;
  margin-bottom: 20px;
  color: #555e80;
  font-size: 0.8em;
  line-height: 1.5em;
  text-align: center;
  margin: 0.8em 0.2em;
  text-transform: capitalize;
}

.calc-icon {
  color: #2479ff;
  display: flex;
  font-size: 1.5em;
  height: 2em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.calc-result {
  font-size: 1.5em;
  line-height: 1.5em;
  font-weight: 600;
  margin: 0 0.2em 0.3em;
  text-align: center;

  span.unit {
    font-size: 0.7em;
    color: grey;
  }
}

.estimateresults {
  flex: 1 1 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @include breakpoint(750px) {
    flex: 0 0 255px;
    margin-left: 20px;
  }
}

.text-block-26-copy {
  max-width: none;
  margin-bottom: 10px;
  color: #555e80;
  font-size: 0.9em;
  line-height: 19px;
  font-weight: 600;
}

.dynamicbill {
  display: flex;
  width: 255px;
  height: 250px;
  margin-left: 0;
  flex-direction: column;
  align-items: center;
  background-image: url(../images/5f315f040bee901dfd04c3dd_bill.png);
  background-position: 50% 0;
  background-size: contain;
  background-repeat: no-repeat;
}

.cetextlogo {
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: 600;
  font-size: 0.7em;
}

.amount-total,
.cetextlogo {
  height: 25%;
}

.amount-row {
  display: flex;
  width: 65%;
  height: 12%;
  margin-top: 5px;
  padding-left: 0;
  justify-content: space-between;
  align-items: center;
}

.billtitle {
  margin-right: 5px;
  color: #2479ff;
  font-weight: 400;

  &.bold {
    font-weight: bold;
  }
}

.amount-holder {
  display: flex;
}

.amountbill,
.amountbill-total {
  color: #2479ff;
  font-weight: 600;
}

.amountbill,
.billtitle {
  font-size: 0.9em;
}

.amount-total {
  display: flex;
  width: 70%;
  margin-top: 15px;
  padding-left: 10px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.amountbill-total {
  margin-top: 15px;
  font-size: 2em;
}
