body.solarfundraisers-com {
	&.toolbar-tray-open.toolbar-vertical {
		@include breakpoint(0px 942px) {
			#navbar .container .name-and-slogan {
				width: 100%;
				text-align: center;
			}
			#block-headerlinkssolarfundraiser {
				float: none;
			}
		}
	}

	#block-headerlinkssolarfundraiser {
		@include breakpoint(768px) {
			float: right;
		}
	}

	// MAIN MENU
	.menu--main-menu-sf {
		text-align: center;

		> li {
			display: inline-block;
			margin-bottom: 0.2em;

			> a {
				padding: 0.25em 0.5em;
				font-weight: bold;
				color: #000000;

				&.is-active {
					color: #2379ff;
				}
				&:hover {
					color: #2379ff;
					text-decoration: underline;
					background-color: unset;
				}
			}
		}
	}

	.btn-green {
		background-color: #1b903a;
		border-color: #0f6b27;

		&:hover {
			background-color: darken(#1b903a, 10%);
		}
	}

	.btn-lt-blue {
		background-color: #128bc5;
		border-color: #0a638e;

		&:hover {
			background-color: darken(#128bc5, 10%);
		}
	}

	.btn-gold {
		background-color: #c59e12;
		border-color: #a08110;

		&:hover {
			background-color: darken(#c59e12, 10%);
		}
	}

	.btn-yellow {
		background-color: #c5c715;
		border-color: #a3a511;

		&:hover {
			background-color: darken(#c5c715, 10%);
		}
	}

	#support-clean-energy {
		background-image: url(#{$theme-root}/images/628355de12246d8042e6cf31_hero-dsk.jpg);
		background-size: cover;
		background-position: center;
		padding-top: 8rem;
		padding-bottom: 8rem;
	}

	#your-growing-impact {
		background-color: white;
		background-image: unset;
		border-bottom: $brand-primary;
		.your-growing-impact-block {
			padding-top: 0;
			padding-bottom: 0;
			.block-title {
				text-align: center;
				color: #a6dffc;
				font-size: 1rem;
				letter-spacing: 3.2px;
			}
			.block-content {
				.wt-four-col {
					display: grid;
					grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
					grid-gap: 1rem;

					&:before,
					&:after {
						display: none;
					}

					> .wt-col {
						display: block;
					}
				}
				.fontawesome-icon-inline {
					color: blue;
				}
				h1 {
					font-weight: normal;
					color: darken(blue, 10%);
				}
				p {
					font-size: 0.8rem;
				}
			}
		}
	}
}
